<!DOCTYPE html>
<html>
<head>
<title>Soltan Hafez</title>
</head>
    <body><h1>Welcome to my Page</h1>
        <img src="/Users/soltanhafez/Desktop/Website/public/images/soltan.jpg" alt="soltan" style="width:209px;height:209px;"/>
        
        <p1><h2>Hello, My name is Soltan Hafez.</h2></p1>
        <p2><h3>I am an Employee at <strong>IBM Saudi Arabia</strong> working alongside the Hybrid Cloud Unit for the past few months</h3></p2>
        <p3><h3>You can check out my <a href="https://sa.linkedin.com/in/soltanhafez ">LinkedIn</a> profile to know about what I have done in the past.</h3></p3>
       
    </body>
    
</html>